# Created by http://www.gitignore.io

### Custom ###

s3/
!s3/.gitkeep



### Scala ###
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

*.iml
*.ipr
*.iws
.idea
out
